<ion-content [fullscreen]="true">

  <div *ngIf="isLoadingTrendsRequest" style="text-align: center;position: absolute;top: 30%;right: 0;">
    <img src="https://media.tenor.com/FIGMhsHZSIIAAAAC/anime-excited.gif" alt="">
  </div>


  <div id="cards-container">
    <ion-card *ngFor="let manga of mangaList" (click)="getMangaInfo(manga.mangaUrl)">
      <img src={{getImageUrl(manga.imageUrl)}} onerror="this.src='../../../assets/imgNotFound.jpg'" />
      <ion-card-header>
        <ion-card-title>{{manga.title}}</ion-card-title>
        <ion-card-subtitle>{{manga.date}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>


  <!-- <div>
    <ion-card *ngFor="let manga of mangaList" (click)="getMangaInfo(manga.mangaUrl)">
      <img alt="Silhouette of mountains" src={{getImageUrl(manga.imageUrl)}} />
      <ion-card-header>
        <ion-card-title>{{manga.title}}</ion-card-title>
        <ion-card-subtitle>{{manga.date}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div> -->


  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>
</ion-content>