ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

.notFound {
    margin-top: 33%;
    color: chartreuse;
    p {
        text-align: center;
    }
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    ion-card {
        margin: 5px 0;
        width: calc(50% - 15px);
    }
}


ion-card {
    text-align: center;
    margin: 1em 3em 2em;
    border: 2px solid #3021e7;

    img {
        width: 70%;
        margin-top: 20px;
    }

    ion-card-title {
        color: black;
        font-style: italic;
        font-size: 17px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.webisteLogo {
    max-width: 9em;
    min-width: 9em;
    &.lectorTMO {
        max-width: 4em;
        padding: 5px;
        margin-left: 0.5em;
    }
}