ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}


.body {
    position: relative;
    top: 3%;
    margin: 0 1em;

    .categories-search {
        // border: 1px solid chartreuse;
        margin-top: 15px;
        margin-bottom: 3em;
    }

    .noSearchResult {
        text-align: center;
        position: relative;
        top: 40%;

        p {
            color: chartreuse;
        }
    }

    .searchResult {
        ion-item {
            --background: none;
            border-radius: 25px;
            border: 1px solid chartreuse;
            margin-bottom: 1em;
            height: 155px;

            h2 {
                font-size: 14px;
                color: white;
                text-align: initial;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        ion-thumbnail {
            width: 30%;
            height: 100%;
            --border-radius: 14px;
        }


        margin: 1em 1em;

        ion-list {
            background: black;
        }
    }
}

ion-button {
    --background: white;
    font-size: 12px;
    width: 150px;
    margin: 5px;
    text-transform: capitalize;
    --color: black;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;

    --box-shadow: 2px 2px 3px 0 rgb(34 139 45);

    --padding-top: 10px;
    --padding-bottom: 10px;
}


#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    ion-card {
        margin: 5px 0;
        width: calc(50% - 15px);
    }
}

ion-card {
    text-align: center;
    margin: 1em 3em 2em;
    border: 2px solid #3021e7;

    img {
        width: 70%;
        margin-top: 20px;
    }

    ion-card-title {
        color: black;
        font-style: italic;
        font-size: 17px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}


.closeButton {
    color: chartreuse;
    background: black;
    font-size: 20px;
    z-index: 1;
    border: 3px solid gray;
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.webisteLogo {
    max-width: 9em;
    min-width: 9em;

    &.lectorTMO {
        max-width: 4em;
        padding: 5px;
        margin-left: 0.5em;
    }
}

.divPagination {
    margin-bottom: 1.5em;
    margin-top: -1em;
    text-align: center;
    .pagination {
        display: inline-block;

        & a {
            float: left;
            padding: 8px 16px;
            text-decoration: none;

            &.active {
                background-color: #4CAF50;
                color: black;
                font-weight: bold;
                border-radius: 5px;
            }
        }
    }
}