<ion-header (click)="changeWebsiteSelected()">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <img class="webisteLogo" [ngClass]="{'lectorTMO': mangaService.getMangaWebSiteSelected().name === 'LectorTmo'}"
          src={{mangaService.getMangaWebSiteSelected().imgUrl}} alt="">
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollEvents]="true" >

  <div class="body">
    <ion-searchbar *ngIf="!isSearchByCategory" (ionChange)="setValue()" [(ngModel)]="seachValue"
      show-clear-button="always" placeholder="Ingrese el texto a buscar ..."></ion-searchbar>

    <div *ngIf="!isSearchDone && searchResult.length == 0 && !isSearchByCategory" style="text-align: center;">
      <img src="https://media.tenor.com/3S9l9HzhGVcAAAAM/shake-kaninayuta.gif" alt="" srcset="">
      <br>
      <div class="categories-search">
        <ion-button *ngFor="let categ of categories" shape="round" (click)="searchByGenreSelected(categ.url)">
          {{categ.name}}
        </ion-button>
      </div>
    </div>

    <div class="noSearchResult" *ngIf="isSearchDone && searchResult.length == 0">
      <p>No se encontraron resultados para la búsqueda</p>
    </div>

    <div class="searchResult" *ngIf="isSearchDone && searchResult.length > 0 && !isSearchByCategory">
      <ion-list>
        <ion-item *ngFor="let result of searchResult" (click)="getMangaInfo(result.mangaUrl, result.website)">
          <ion-thumbnail slot="start" class="ios hydrated">
            <img src={{getImageUrl(result)}} onerror="this.src='../../../assets/imgNotFound.jpg'">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>{{result.title}} </h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="isSearchByCategory && searchResult.length > 0">
      <button class="closeButton" (click)="goToSearchPage()">X</button>
      <div id="cards-container">
        <ion-card *ngFor="let manga of searchResult" (click)="getMangaInfo(manga.mangaUrl, manga.website)">
          <img src={{getImageUrl(manga)}} onerror="this.src='../../../assets/imgNotFound.jpg'" />
          <ion-card-header>
            <ion-card-title>{{manga.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <br><br>
      <div class="divPagination" *ngIf="paginationData.length > 0">
        <div class="pagination">
          <a (click)="searchByGenreSelected(pag.pageUrl)"  *ngFor="let pag of paginationData"
           [ngClass]="{ 'active': isActivePaginationItem(pag) }">
            {{pag.page}}
          </a>
        </div>

      </div>
    </div>
  </div>

  <ngx-loading [show]="isLoading" [config]="{
    backdropBorderRadius: '5px', fullScreenBackdrop:true}"></ngx-loading>

</ion-content>