ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}


.noFavorites {
    text-align: center;
    position: relative;
    top: 40%;

    p {
        color: chartreuse;
        margin: 0 3em;
    }
}

.favoriteList {
    ion-item {
        --background: none;
        border-radius: 15px;
        border: 1px solid chartreuse;
        margin-bottom: 1em;
        height: 155px;

        h2 {
            font-size: 15px;
            color: white;
            text-align: initial;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .divOptions {
            margin-top: 10px;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            ion-icon{
                &.all{
                    color: red;
                }
                &.finished{
                    color: #20d720;
                }
                &.paused{
                    color: yellow;
                }
                &.justforme{
                    color: rgb(221, 84, 10);
                }

                &.tabSelected{
                    opacity: 0.4;
                }
            }
        }

    }

    ion-thumbnail {
        width: 30%;
        height: 100%;
        --border-radius: 14px;
    }

    margin: 2em 1em;

    ion-list {
        background: black;
    }
}

.segmentTabs {
    margin-bottom: -15px;
    position: relative;

    ion-segment-button:not(.segment-button-checked) {
        color: chartreuse;
        opacity: 0.5;
    }
}