ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    ion-card {
        margin: 5px 0;
        width: calc(50% - 15px);
    }
}


ion-card {
    text-align: center;
    margin: 1em 3em 2em;
    border: 2px solid #3021e7;

    img {
        width: 70%;
        margin-top: 20px;
    }

    ion-card-title {
        color: black;
        font-style: italic;
        font-size: 17px;
    }
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}